:root {
  --black: #171717;
  --white: #ffffff;
  --red: #e51515;
  --orange: #ffa600;
  --green: #29a37a;
  --blue: #293eff;
}

html {
  min-height: 100%;
}

body {
  background-color: var(--white);

  font-family: "Inter", sans-serif;
  color: var(--black);
}
