html {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

body {
  text-align: center;
}

.error {
  color: var(--red);
}

.notice {
  color: var(--orange);
}

form {
  display: inline-block;
  margin-bottom: 4rem; /* To balance with the logo */
}

button {
  border: none;
  border-radius: 3px;
  background-color: var(--black);
  padding: 0.5rem 1rem;

  color: var(--white);

  cursor: pointer;
}
